<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>The simple React-TypeScript build environment</title>
    </head>
    <body>
        <div id="root"></div>

        <!-- Development dependencies -->
        <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
        
        <!-- Production dependencies -->
        <!-- <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script> -->
    
    </body>
</html>