<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>React and TypeScript</title>
    </head>
    <body>
        <div id="root"></div>

        <!--
            You may want to view more about how to fix this template to your needs on GitHub:
            https://github.com/nguyenkhois/build-environments
        -->

        <!-- Dependencies -->
        <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>

    </body>
</html>