.welcome {
    background-color: #294e80;
    font-family: "wf_segoe-ui_normal", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    color: white;
    font-size: 18px;
    padding: 20px;
}
    .welcome a {
        color: deepskyblue;
    }
    .welcome a:hover {
        color: lightblue;
        text-decoration: none;
    }
