import React, { useState, useEffect } from 'react';
//ImportYourCSS

type YourComponentNameProps = { };

function YourComponentName(props: YourComponentNameProps) {
    const [state, setState] = useState(null);

    useEffect(() => { }, []);

    return (
        <div>
            {/* Do stuff */}
        </div>
    );
}

export default YourComponentName;
